body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    max-width: 60em;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 6em auto 6em;
    grid-template-rows: 6em 0em auto 6em;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "leftbar article rightbar"
        "footer footer footer";
}


@media (max-width: 40em) {
    main {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
    }
    leftbar, rightbar, h1, h2 {
        display: none;
    }

    article {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 40em) {
    #logo {
        display : none;
    }
}

header {
    grid-area: header;
    margin-left: 20px;
}

#logo {
    height: 100%;
    margin-left: 15px;
}

h1 {
    font-size: 55px;
    font-family: 'Neuton', serif;
    margin: 0;
    margin-left: 15px;
    color: #178178;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
    color: #b7b7b7;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
}

article {
    grid-area: article;
    text-align: left;
    font-size: 14px;
}

nav {
    margin-top: -6em;
    grid-area: nav;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #b7b7b7;
    margin-right: 20px;
    margin-left: 20px;
}

footer {
    grid-area: footer;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-top-style: solid;
    border-top-width: medium;
    border-top-color: #b7b7b7;
    text-align: center;
}

/* SIGN OUT BUTTON */

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
}

#nav li a {
  float: right;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 62px;
  padding: 5px;
  border-left: 2px solid #b7b7b7;
}

#nav li a:hover {
  background-color: #b7b7b7;
}
/* EVENT LIST */

ul {
  list-style-type: none;
}

#events {
  text-align: center;
  width: 30%;
}

#eventlist {
  text-align: center;
  border: 2px solid black;
  background-color: gray;
  width: 100%;
  margin: 0;
  padding: 0;
}

#eventlist li:hover {
  background-color: #585858;
}

#eventlist li {
  padding: 10px;
}
