body {
    background-color: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    max-width: 60em;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 6em auto 6em;
    grid-template-rows: 6em 0em auto 6em;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "leftbar article rightbar"
        "footer footer footer";
}

@media (max-width: 40em) {
    main {
        grid-template-columns: 100%;
        grid-template-areas:
            "header"
            "nav"
            "article"
            "footer";
    }
    leftbar, rightbar, h1, h2 {
        display: none;
    }
    
    article {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (min-width: 40em) {
    #logo {
        display : none;
    }
}

header {
    grid-area: header;
    margin-left: 20px;
}

#logo {
    height: 100%;
    margin-left: 15px;
}

h1 {
    font-size: 55px;
    font-family: 'Neuton', serif;
    margin: 0;
    margin-left: 15px;
    color: #178178;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
    color: #b7b7b7;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
}

article {
    grid-area: article;
    text-align: left;
    font-size: 14px;
}

nav {
    margin-top: -6em;
    grid-area: nav;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #b7b7b7;
    margin-right: 20px;
    margin-left: 20px;
}

footer {
    grid-area: footer;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-top-style: solid;
    border-top-width: medium;
    border-top-color: #b7b7b7;
    text-align: center;
}

leftbar {
    grid-area: leftbar;
    margin-left: 20px;
}

rightbar {
    grid-area: rightbar;
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a li {
    display: inline;
    width: 3em;
    text-align: center;
    height: 2em;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    float: right;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-color: lightgrey;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a li:hover {
    -webkit-animation-name: hover;
    -webkit-animation-duration: 0.4s;
    animation-fill-mode: both;
}

@keyframes hover {
    from { 
        background-color: #F5F5F5; 
        color: black;
    }
    to { 
        background-color: #178178; 
        color: #f5f5f5;
    }
}

#last {
    border-right: none;
}

.blue {
    width: 100%;
    font-size: 14px;
    background-color: #178178;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    
}

.blue:hover {
    background-color: #b7b7b7;
    color: #178178;
}

input[type=text], [type=email], [type=password], select {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer > p > a {
    text-decoration: none;
    color: #178178;
    margin-left: 1.5em;
    margin-right: 1.5em;
    -webkit-transition-duration: 0.4s;
}

footer > p > a:hover {
    color: #b7b7b7;
}